.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  justify-content: center;
  margin: center;

}
.grid-item {


  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.center {

  display: center ;
  }


  .heads{
    height: 45px;
    width: auto;
    color: black;
    font-size: 35px;
    text-align: justify;
    padding: 25px;
    background-color: white;
    font-family: helvetica;
    padding-bottom: px;
  }
